<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IhelloWCFService" />
                <binding name="WSHttpBinding_IHelloWCFService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/MyService/HelloWCFService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IhelloWCFService"
                contract="MyService.IhelloWCFService" name="WSHttpBinding_IhelloWCFService">
                <identity>
                    <userPrincipalName value="MS-20161231OKLR\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/MyService/HelloWCFService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHelloWCFService"
                contract="myservice1.IHelloWCFService" name="WSHttpBinding_IHelloWCFService">
                <identity>
                    <userPrincipalName value="MS-20161231OKLR\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>