<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="打印2.Properties.Settings.Itcast2014ConnectionString"
            connectionString="Data Source=MS-20161231OKLR;Initial Catalog=Itcast2014;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>