<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="logDirectory" value="D:/Log/Logs/${shortdate}"/>
  <targets>
    <!-- add your targets here -->

    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type="File" name="DeviceLog" fileName="${logDirectory}/Device.log"
            layout="【${longdate}】 ${message}"
            archiveFileName="${logDirectory}/archives/Device.{#####}.txt"
            archiveAboveSize="2048000"
            archiveNumbering="Sequence"
            maxArchiveFiles="20"
            concurrentWrites="true"
            keepFileOpen="false"/>
    <target xsi:type="File" name="ExceptionLog" fileName="${logDirectory}/Exception.log"
            layout="【${longdate}】 ${stacktrace} ${message} 
            ${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}"
             archiveFileName="${logDirectory}archives/Exception.{#####}.txt"
            archiveAboveSize="2048000"
            archiveNumbering="Sequence"
            maxArchiveFiles="20"
            concurrentWrites="true"
            keepFileOpen="false"/>
    <target xsi:type="File" name="InfoLog" fileName="${logDirectory}/Info.log"
            layout="【${longdate}】 ${message}"
             archiveFileName="${logDirectory}/archives/Info.{#####}.txt"
            archiveAboveSize="2048000"
            archiveNumbering="Sequence"
            maxArchiveFiles="20"
            concurrentWrites="true"
            keepFileOpen="false"/>
    <target xsi:type="File" name="NumLog" fileName="${logDirectory}/Num.log"
            layout="【${longdate}】 ${message}"
             archiveFileName="${logDirectory}/archives/Info.{#####}.txt"
            archiveAboveSize="2048000"
            archiveNumbering="Sequence"
            maxArchiveFiles="20"
            concurrentWrites="true"
            keepFileOpen="false"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
    <logger name="*" level="Trace" writeTo="DeviceLog" />
    <logger name="*" level="Info" writeTo="InfoLog"/>
    <logger name="*" level="Debug" writeTo="ExceptionLog" />
    <logger name="*" minlevel="Warn" writeTo="NumLog" />
  </rules>
</nlog>